<!DOCTYPE html>
<html>
  <head>
    <header> 
              <img src = "https://media.giphy.com/media/3oEhmIpL7Kb91geLcI/giphy.gif" width = "40%" height = "40%">
              <br>
              <a href="/" class="indexButton">Home</a>
              <a href="about" class="indexButton">About</a>
    </header>
            <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
    <title>Meet us!</title>
  </head>
  <body>
    <center><a href="http://ibb.co/ijcEmk"><img src="http://preview.ibb.co/bvfBXQ/IMG_4750.jpg" alt="IMG_4750" border="0" style="float: center" width = "30%" height = "30%"></a></center>
    
    <!--<img src="samplepicture.jpg" alt="what image shows" height="150" width="200">-->
    <h4>Gianna:</h4>
    <p>Hi! I'm a rising 7th grader in Piedmont, California. I really like puppies :)</p>
    <h4>Ashley:</h4>
    <p>Hey there! I'm from Alameda, CA, and I'm an incoming junior at Alameda High. I love playing soccer and learning about science.</p>
    <h4>Aileen:</h4>
    <p>Hello! I'm an  upcoming senior at Santa Clara High School. I like learning new things.</p>
    
    <div class="footer">
          <a href="https://instagram.com"><img src="https://image.ibb.co/jmrycF/instagram.png" alt="instagram" border="0" width=40 height=40></a>
          <a href="https://twitter.com/BitbyBit"><img src="https://image.ibb.co/fYUqra/twitter.png" width=40 height=40></a>
          <a href="https://facebook.com"><img src="https://image.ibb.co/ehzUjv/facebook.png" alt="facebook" border="0" width=40 height=40></a>
          <a href="https://linkedin.com"><img src="https://image.ibb.co/fYR3Ba/linkedin.png" alt="linkedin" border="0" width=40 height=40></a>
      <h4 id = "certified">©She-STEMs 2017</h4>
     </div>
     
  </body>
</html>