
<!DOCTYPE html>

<html>
<head>
<title>I'll Do It Tomorrow </title>
<link rel="stylesheet" type="text/css" href="public/css/sty.css">
</head>




<body>
<center>
<div id="headers">
<h1> I'll Do It Tomorrow </h1>
</div>
</center>
<form method="POST" action="/temp">

  <p> Task: <input type="text" name="name" style="padding: 20px 90px" id="Task"  Value= "Task"><p/>
  <p> Time Due: <input type="text" name="timeDue" style="padding: 20px 90px" id="timeDue" Value= "timeDue"><p/>
  <p> class: <input type="text" name="Class" style="padding: 20px 90px" id="class" Value= "class"><p/>
  <input type="submit" style="padding: 45px 45px">
</form>



<!-- <<img src=https://cdn.pixabay.com/photo/2017/05/10/10/46/flowers-2300514_960_720.jpg> -->
<!-- a:<link rel="stylesheet" href="/css/master.css"> -->
<!-- <div class="topnav">
  <a>Display a list of links as a horizontal menu:</p>
  <a href="#home">Home</a>
  <a href="#assignments">Assignments</a>
  <a href="#about">About</a>
  <a href="#profile">Profile</a>

  <ul>
    <li><a href="/html/default.asp" target="_blank">Home</a></li>
    <li><a href="/html/default.asp" target="_blank">Assignments</a></li>
    <li><a href="/css/default.asp" target="_blank">About</a></li>
    <li><a href="/js/default.asp" target="_blank">Profile</a></li>
  </ul>
</div> -->

    <h3> <%=@user_task%> </h3> 
 <h3><%=@user_time%></h3> 
  <h3><%=@user_class%></h3>


<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=29h7113rdh1lfm5rjt926tsqsc%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FDenver"
style = border:"solidpx #777"
width= "800"
height="600"
frameborder="0"
scrolling="no"></iframe>
</center>
</body>

</html>
